# MISC
pytest
pydantic

# MLX Alternatives for Windows
torch
transformers
accelerate
faster-whisper
bitsandbytes
scipy
tqdm
numpy
huggingface_hub

# MeloTTS
g2p_en
cached_path
librosa
torchaudio

# Main
pyaudio
playsound==1.2.2
webrtcvad
sounddevice